* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    width: 100vw;
    height: 2rem;
    background-color: rgb(63, 63, 63);
    color: rgb(216, 215, 215);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    align-items: center;
    justify-content: space-between;
}
.ft-nav ul, .sd-nav ul {
    display: flex;
    list-style-type: none;
    margin: 4px;
    /* padding: 0 0 1px 0; */
}
.ft-nav ul li, .sd-nav ul li {
    margin: 4px;
    padding: 0 0 4px 0;
}

.sd-nav {
    width: ;
    height: auto;
    border: 1px solid red;
    /* position: relative; */
    /* left: 4rem; */
    float: left;

}

.nav1 {
    width: 100vw;
    height: 46px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nava1, .nava2 ul {
    display: flex;
}

.nava2 {
    align-self: ;
}