* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    width: 100vw;
    height: 2rem;
    background-color: rgb(63, 63, 63);
    color: rgb(216, 215, 215);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    align-items: center;
}
.ft-nav ul, .sd-nav ul {
    display: flex;
    list-style-type: none;
    margin: 4px;
    /* padding: 0 0 1px 0; */
}
.ft-nav ul li, .sd-nav ul li {
    margin: 4px;
    padding: 0 0 4px 0;
}

.sd-nav {
    float: right;
    justify-content: flex-end;
}